.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

header {
  font-size: 50px;
  color: white;
  background-color: purple;
  border: 3px solid #5801585c;
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 4vh;
}

header h1 {
  transform:rotate(3deg);
}

