.movies {
    display : flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem;
    background-color: #e7deef;
    padding: 1em;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
    background-color: rgb(198 39 251);
    color: white;
}

#add-movie .MuiButton-label {
    padding: 5px 40px;
    font-size: 35px;
}

/* Save and cancel buttons for AddMovie */
.form-buttons .MuiButtonBase-root.MuiButton-root.MuiButton-contained {
    margin: 5px;
}

body {
    background: rgb(177,87,204);
    background: linear-gradient(90deg, rgba(177,87,204,0.4) 33%, rgba(204,100,236,0.2) 59%, rgba(235,168,255,0.2) 87%);
}