.movies {
    display : flex;
    flex-wrap: wrap;
    gap: 1rem
}

.movies img {
    height: 230px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
    background-color: rgb(198 39 251);
    color: white;
}
