form div {
    margin: 10px;
}

form {
    display: inline-block;
    border: 5px solid purple;
    border-radius: 15px;
    background-color: white;
    padding: 1em;
}

section {
    background-color: #e7deef;
    padding: 2em;
    margin-bottom: 4vh;
}
